        <!-- from handling -->
        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="image" class="text-light">Image</label>
                    <input type="file" name="image" value="" required="required" >
                </div>
                <div class="form-group">
                    <label for="first-name" class="text-light">First Name:</label>
                    <input type="text" name="first-name" value="" required="required" placeholder="">
                </div>
                <div class="form-group">
                    <label for="last-name" class="text-light">Last Name:</label>
                    <input type="text" name="last-name" value="" required="required" placeholder="">
                </div>
                <div class="form-group">
                    <label for="email" class="text-light">Email:</label>
                    <input type="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="required" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="phone" class="text-light">Phone</label>
                    <input type="tel" name="phone" value="" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="required" placeholder="000-000-0000">
                </div>
                <div class="form-group">
                   <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
            
        </form>