<tr>
    <td>1</td>
    <td><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" height=100 width=100 /></td>
    <td>Illia</td>
    <td>Kucheruk</td>
    <td>example@gmail.com</td>
    <td>000-000-00-00</td>
    <td>
        <a href="#" class="btn border-shadow update">
            <span class="text-gradiend"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradiend"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>